.main-content {
	max-width: 1280px;
	width: 100%;
	padding: 10px;
	margin: auto;
}

.game-table {
	max-width: 640px;
	width: 100%;
	margin: auto;
}

.game-table table {

}

.game-table table thead {
	border: 2px;
}

.game-table table td {
	text-align: center;
}

.game-table button {
	font-size: 16px;
}

nav {
	text-align: center;
}

.navigation-block {
	height: 30px;
}

.checklist-column-1 {
	width: 33%;
	float: left;
}

.checklist-column-2 {
	width: 33%;
	float: left;
}

.checklist-column-3 {
	width: 33%;
	float: left;
	position: fixed;
	right: 0%;
}