.navigation {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #cccccc;
	text-align: center;
}

.navigation a {
	text-color: #3399ff;
}

.navigation li{
	font-size: 22px;
	font-family: arial;
	padding: 23px;
	font-weight: bold;
	display: inline;
	text-transform: uppercase;
}

.header 1{
	font-family: tahoma;
	font-size: 20px;
}

.header 2{
	font-family: tahoma;
	font-size: 18px;
}

.maintext {
	font-family: arial;
}