---
layout: post
---
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<div class="container">
	<div class="row" style="max-height: 17em;">
		<div class="col-9">
			<b>{{ page.game-title }}</b> for the <i>{{ page.console }}</i><br/>
			<b>Developer: </b>{{ page.developer }}<br/>
			<b>Publisher: </b>{{ page.publisher }}<br/>
			<b>Year: </b>{{ page.year }}<br/>
			{% if page.wikipedia-url %}
				<a href="{{ page.wikipedia-url }}">
					<img src="/assets/img/review/wikipedia.png">
				</a>
			{% endif %}
			{% if page.ra-url %}
				<a href="{{ page.ra-url }}">
					<img src="/assets/img/review/ra.png">
				</a>
			{% endif %}
			{% if page.steam-url %}
				<a href="{{ page.steam-url }}">
					<img src="/assets/img/review/steam.png">
				</a>
			{% endif %}
			{% if page.hltb-url %}
				<a href="{{ page.hltb-url }}">
					<img src="/assets/img/review/hltb.png">
				</a>
			{% endif %}
			<br/>
			{% for i in (1..page.up-score) %}
				<i class="fas fa-thumbs-up"></i>
			{% endfor %}
			{% for i in (page.up-score..2) %}
				<i class="far fa-thumbs-up"></i>
			{% endfor %}
			<b>{{ page.up-score }} GOOD</b>
			<br/>
			{% for i in (1..page.down-score) %}
				<i class="fas fa-thumbs-down"></i>
			{% endfor %}
			{% for i in (page.down-score..2) %}
				<i class="far fa-thumbs-down"></i>
			{% endfor %}
			<b>{{ page.down-score }} BAD</b>
		</div>
		<div class="col-3">
			<img src="{{ page.box-cover-url }}">
		</div>
	</div>
</div>

<div class="container">
	{{ content }}
</div>